@model KabylanMVC.PL.Models.SaleViewModel
@{
    ViewData["Title"] = "View";

}

<div class="card p-5 m-5" style="max-width: 100vh;">
    <nav class="m-0">
        <ol class="breadcrumb pb-0 mb-0  pl-0 " style="background: none">
            <li class="breadcrumb-item"><a href="/Sales/Index">Продажи</a></li>
            <li class="breadcrumb-item">Изменить</li>
        </ol>
    </nav>

    <form id="SaleForm" asp-action="Edit">
            <input asp-for=@Model.Id value=@Model.Id hidden/>
            <input asp-for=@Model.CustomerId value=@Model.CustomerId hidden/>
        <div class="row p-3">
            <!--Upartment data-->
            <div class="col-sm-4">
                <label for="CustomerFirstName" class="form-label mb-0 mt-2">Имя</label>
                <input type="text" class="form-control text-center" asp-for=@Model.CustomerFirstName value=@Model.CustomerFirstName id="CustomerFirstName">
            </div>
            <div class="col-sm-4">
                <label for="CustomerMiddleName" class="form-label mb-0 mt-2">Фамилия</label>
                <input type="text" class="form-control text-center" asp-for=@Model.CustomerMiddleName value=@Model.CustomerMiddleName id="CustomerMiddleName">
            </div>
            <div class="col-sm-4">
                <label for="CustomerLastName" class="form-label mb-0 mt-2">Отчество</label>
                <input type="text" class="form-control text-center" asp-for=@Model.CustomerLastName value=@Model.CustomerLastName id="CustomerLastName">
            </div>

            <!--Upartment data-->
            <div class="col-sm-4">
                <label for="Square" class="form-label mb-0 mt-2">площадь</label>
                <input type="number" class="form-control text-center" asp-for=@Model.Square value=@Model.Square id="Square">
            </div>
            <div class="col-sm-4">
                <label for="RoomCount" class="form-label mb-0 mt-2">к-во комнат</label>
                <input type="number" class="form-control text-center" value=@Model.RoomCount id="RoomCoun">
            </div>
            <div class="col-sm-4">
                <label for="Price" class="form-label mb-0 mt-2">ценна $</label>
                <input type="number" class="form-control text-center" asp-for=@Model.Price value=@Model.Price id="Price">
            </div>

            <!--Payment data-->
            <div class="col-sm-4">
                <label for="PaydMonths" class="form-label mb-0 mt-2">К-во месяцев для рассрочки</label>
                <input type="number" class="form-control text-center" asp-for=@Model.PayingMonths value=@Model.PayingMonths id="PaydMonth">
            </div>

            <div class="col-sm-12 my-4 py-2 my-4">
                <button type="submit" class="btn border-primary w-100" >Сохранить</button>
            </div>          
        </div>
    </form>
</div>
