body {
    min-width: 100vw;
    min-height: 100vh;
}

.SaleCardsScrolPanel {
    height: 100vh;
}

.CastomersPanel {
    height: 45vh;
}

.PaymentPanel {
    height: 43vh;
}

#SalesTable tbody > tr {
    height: 50px;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: lightblue;
}

.fa-trash {
    color: #fb5656;
    cursor: pointer;
}


.fa-edit {
    color: #2f5cef;
    cursor: pointer;
}
.table th {
    text-align: center;
}
.login{
    margin: auto !important;
    height: 500px;
    width: 500px;
}