body {
    position: fixed;
}

.SaleCardsScrolPanel {
    height: 100vh;
}

.CastomersPanel {
    height: 45vh;
}

.PaymentPanel {
    height: 40vh;
}

#SalesTable tbody > tr {
    height: 50px;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    background-color: lightblue;
}

.fa-trash {
    color: #fb5656;
    cursor: pointer;
}


.fa-edit {
    color: #2f5cef;
    cursor: pointer;
}