@page
@model Kabylan.PL.Pages.IndexModel;
@{
    ViewData["Title"] = "Home page";
}

<style>
    .enterView {
      width: 100%;
      height: 80%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      overflow: auto;
    }
    .mb-3{
      width: 300px;
    }

</style>

<div asp-validation-summary="All"></div>
<div class="enterView">
    <form method="Post">
        <div class="mb-3">
            <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
        <br />
            <input type="password" asp-for="Password" class="form-control" placeholder="Password"/>
        </div>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Sign in</button>
            <br />
            <p align="center"> <a asp-page="Create">Добавить пользователя</a> </p>
        </div>
    </form>
</div>